<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>completed: <%= @task.completed %></p>
<br><br>
<%= link_to "home", tasks_path  %>  |  
<%= link_to 'Edit', edit_task_path(@task)  %>  |  
<%= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }  %>